@import "tailwindcss";

:root {
  --background: #f7fcfa;
  --foreground: #0f0f0f;
  --primary: #00a363;
  --white: #f7fcfa;
  --black: #0f0f0f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-white: var(--white);
  --color-black: var(--black);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
